#link-logout{
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    padding: 3px;
 
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#link-logout:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* table rejects style  */

#bt-all{
    cursor: pointer;
    transition: 0.7s;
    text-align: center;
}
#bt-all:hover{
    border-color:aliceblue;
}

.card-metrics:hover{
    background-color: #43987b;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.card-maintenance:hover{
    background-color: #437c98;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.card-rejects:hover{
    background-color: #984351;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.card-menu:hover{
    background-color: #5f6f76;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

/* ************* tables ***************** */
#table-fails{
    /* position: relative; */
    width: 3950px;
    /* border-collapse: collapse;  */
}
